**/.DS_Store
**/node_modules/
**/.ipynb_checkpoints/
*.pem
github_token

**/wandb/
**/checkpoints/

**/__pycache__/

rq1/replication/deep-jit-inconsistency-detection
rq1/replication/coco-bert-longformer

lib/build
lib/vendor

/*.err
/*.out

data/**/*.json
data/**/*.gz
data/**/*.pkl